In [1]:

import rdflib
from rdflib import Graph, Namespace, URIRef, Literal, BNode
from rdflib.namespace import NamespaceManager
from rdflib.namespace import RDF, RDFS, SKOS, XSD, OWL

import pandas as pd

# Load the CD description

In [2]:
source_file_1 = '../data/output/cdi_profile_EMP.ttl'
g1 = Graph()
g1.parse(source_file_1, format="turtle")

g2 = Graph()
source_file_2 = '../data/output/cdi_profile_GDP.ttl'
g2.parse(source_file_2, format="turtle")

## Query the RDF graph for nodes with enumeration codes:

In [3]:
query = """
    SELECT ?iri ?label ?scheme
    WHERE {
        ?iri a skos:Concept .
        ?iri rdfs:label ?label .
        ?iri skos:inScheme ?scheme .
    }
"""

In [4]:
enumerations_1 = [(str(row.iri), str(row.label), str(row.scheme)) for row in g1.query(query)]
enumerations_1 = pd.DataFrame(enumerations_1, columns=["IRI", "Label", "Enumeration"])
enumerations_1

,IRI,Label,Enumeration
0,http://example2.org/Concept/CL_ACTIVITY/ISIC4_A01,"01 - Crop and animal production, hunting and r...",http://example2.org/SubstantiveValueDomain/CL_...
1,http://example2.org/Concept/CL_ACTIVITY/ISIC4_A02,02 - Forestry and logging,http://example2.org/SubstantiveValueDomain/CL_...
2,http://example2.org/Concept/CL_ACTIVITY/ISIC4_A03,03 - Fishing and aquaculture,http://example2.org/SubstantiveValueDomain/CL_...
3,http://example2.org/Concept/CL_COUNTRY/12,Algeria,http://example2.org/SubstantiveValueDomain/CL_...
4,http://example2.org/Concept/CL_COUNTRY/16,American Samoa,http://example2.org/SubstantiveValueDomain/CL_...
5,http://example2.org/Concept/CL_COUNTRY/20,Andorra,http://example2.org/SubstantiveValueDomain/CL_...
6,http://example2.org/Concept/CL_COUNTRY/24,Angola,http://example2.org/SubstantiveValueDomain/CL_...
7,http://example2.org/Concept/CL_COUNTRY/28,Antigua and Barbuda,http://example2.org/SubstantiveValueDomain/CL_...
8,http://example2.org/Concept/CL_COUNTRY/31,Azerbaijan,http://example2.org/SubstantiveValueDomain/CL_...
9,http://example2.org/Concept/CL_COUNTRY/32,Argentina,http://example2.org/SubstantiveValueDomain/CL_...
10,http://example2.org/Concept/CL_COUNTRY/36,Australia,http://example2.org/SubstantiveValueDomain/CL_...
11,http://example2.org/Concept/CL_COUNTRY/4,Afghanistan,http://example2.org/SubstantiveValueDomain/CL_...
12,http://example2.org/Concept/CL_COUNTRY/40,Austria,http://example2.org/SubstantiveValueDomain/CL_...
13,http://example2.org/Concept/CL_COUNTRY/51,Armenia,http://example2.org/SubstantiveValueDomain/CL_...
14,http://example2.org/Concept/CL_COUNTRY/533,Aruba,http://example2.org/SubstantiveValueDomain/CL_...
15,http://example2.org/Concept/CL_COUNTRY/660,Anguilla,http://example2.org/SubstantiveValueDomain/CL_...
16,http://example2.org/Concept/CL_COUNTRY/8,Albania,http://example2.org/SubstantiveValueDomain/CL_...
17,http://example2.org/Concept/CL_SEX/F,Female,http://example2.org/SubstantiveValueDomain/CL_SEX
18,http://example2.org/Concept/CL_SEX/M,Male,http://example2.org/SubstantiveValueDomain/CL_SEX
19,http://example2.org/Concept/CL_SEX/T,Total,http://example2.org/SubstantiveValueDomain/CL_SEX

In [5]:
enumerations_2 = [(str(row.iri), str(row.label), str(row.scheme)) for row in g2.query(query)]
enumerations_2 = pd.DataFrame(enumerations_2, columns=["IRI", "Label", "Enumeration"])
enumerations_2

,IRI,Label,Enumeration
0,http://example1.org/Concept/CL_EC2/EC2_ISIC3_A01,"01 - Agriculture, hunting and related service ...",http://example1.org/SubstantiveValueDomain/CL_EC2
1,http://example1.org/Concept/CL_EC2/EC2_ISIC3_A02,"02 - Forestry, logging and related service act...",http://example1.org/SubstantiveValueDomain/CL_EC2
2,http://example1.org/Concept/CL_EC2/EC2_ISIC3_B05,"05 - Fishing, aquaculture and service activiti...",http://example1.org/SubstantiveValueDomain/CL_EC2
3,http://example1.org/Concept/CL_REF_AREA/ABW,Aruba,http://example1.org/SubstantiveValueDomain/CL_...
4,http://example1.org/Concept/CL_REF_AREA/AFG,Afghanistan,http://example1.org/SubstantiveValueDomain/CL_...
5,http://example1.org/Concept/CL_REF_AREA/AGO,Angola,http://example1.org/SubstantiveValueDomain/CL_...
6,http://example1.org/Concept/CL_REF_AREA/AIA,Anguilla,http://example1.org/SubstantiveValueDomain/CL_...
7,http://example1.org/Concept/CL_REF_AREA/ALB,Albania,http://example1.org/SubstantiveValueDomain/CL_...
8,http://example1.org/Concept/CL_REF_AREA/AND,Andorra,http://example1.org/SubstantiveValueDomain/CL_...
9,http://example1.org/Concept/CL_REF_AREA/ARG,Argentina,http://example1.org/SubstantiveValueDomain/CL_...
10,http://example1.org/Concept/CL_REF_AREA/ARM,Armenia,http://example1.org/SubstantiveValueDomain/CL_...
11,http://example1.org/Concept/CL_REF_AREA/ASM,American Samoa,http://example1.org/SubstantiveValueDomain/CL_...
12,http://example1.org/Concept/CL_REF_AREA/ATG,Antigua and Barbuda,http://example1.org/SubstantiveValueDomain/CL_...
13,http://example1.org/Concept/CL_REF_AREA/AUS,Australia,http://example1.org/SubstantiveValueDomain/CL_...
14,http://example1.org/Concept/CL_REF_AREA/AUT,Austria,http://example1.org/SubstantiveValueDomain/CL_...
15,http://example1.org/Concept/CL_REF_AREA/AZE,Azerbaijan,http://example1.org/SubstantiveValueDomain/CL_...
16,http://example1.org/Concept/CL_REF_AREA/DZA,Algeria,http://example1.org/SubstantiveValueDomain/CL_...

In [6]:
# Save the two DataFrames as separate sheets in a single Excel file
with pd.ExcelWriter("../data/output/mapings_EMP_GDP.xlsx", engine='xlsxwriter') as writer:
    enumerations_2.to_excel(writer, sheet_name='EMP', index=False)
    enumerations_2.to_excel(writer, sheet_name='GDP', index=False)